.Hero {
  color: $color--beige;
  text-align: center;

  &-heading {
    @include fluid-type(300px, 900px, 36px, 63px);
    margin-top: space(10);
    margin-bottom: space(20);
    line-height: 1;
  }

  &-text {
    text-align: center;
    max-width: 75%;
    margin: 0 auto space(28) auto;

    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }
}
