.contact {
  background-color: $color--steel-blue;
  padding: space(20) 0 space(10) 0;
  margin-top: space(-10);

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: space(2);
    color: $color--white;
    border-radius: $border-radius--small;
  }

  &-header {
    font-family: $font-family--secondary;
    font-size: space(4);
    font-weight: bold;
    color: #e47877;
  }

  &-icons {
    font-size: space(2);
    fill: $color--white;
  }

  &-icon-container {
    margin-top: space(1);
    margin-bottom: space(8);
    height: space(5);
    padding: space(1.5);
    background-color: lighten($color--steel-blue, 10%);
    display: inline-block;
    border-radius: 100px;
  }

  &-icon-container + &-icon-container {
    margin-left: space(1);
  }

  &-name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 space(2);
  }

  &-label {
    display: block;
    margin-bottom: space(1);
    color: $color--white;
  }

  &-input {
    width: 100%;
    border-radius: $border-radius--small;
    margin-bottom: space(2);
    padding: space(1);
    background-color: lighten($color--steel-blue, 10%);
  }

  &-textarea {
    height: space(22);
  }

  &-button {
    display: flex;
    align-items: center;
    background-color: #e47877;
    padding: space(1) space(2);
    border-radius: $border-radius--small;
    color: $color--white;
  }

  &-button-text {
    font-family: $font-family--secondary;
    padding-left: space(1);
  }
}
